*{
    margin: 0;
    padding: 0;
}

.nombre{
    position: fixed;
    left: 0;
    margin-left: 15px;
    color:white;
    font-size: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header{
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    background-color: rgba(0, 0, 0, 0.849);
    justify-content: right;
    padding: 15px;
}
.enlace{
    display: inline-block;
}

.enlace > a{
    margin: 25px;
    color: white;
    text-decoration: none;
}

.frases{
    width: 100%;
    margin-top: 70px;
}

.frase{
    max-width: 500px;
    background-color: rgba(189, 243, 243, 0.658);
    margin: 50px;
    padding: 10px;
    border-radius: 7px;
    box-shadow: rgba(0, 0, 255, 0.295) 5px 2px 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.frase:nth-child(even){
    background-color: rgba(255, 228, 196, 0.801)
}

.titulo{
    font-size: 30px;
    text-align: center;
}

@media screen and (max-width:500px) {
    header{
        justify-content: space-around;
    }
    .frase{
        background-color: rgba(189, 243, 243, 0.658);
        margin: 20px;
        padding: 10px;
        border-radius: 7px;
        box-shadow: rgba(0, 0, 255, 0.295) 5px 2px 5px;
    }
    .nombre{
        display: none;
    }
}